<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midtwenties.dogcat">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Buynewitem"/>
        <activity
            android:name=".ItemPopup"
            android:screenOrientation="portrait"
            android:theme="@style/pop" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lockermain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HangoutPopup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HospitalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HospitalTreatment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HospitalRoom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PetIDActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoNext"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ItemList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AttendancePopup"
            android:screenOrientation="portrait"
            android:theme="@style/pop" />
        <activity
            android:name=".StoreItem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InitPet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsOfService"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IDListActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".Receiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ScreenService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>